html,
body{
  font-family: 'Work Sans', sans-serif;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


a,
a:visited {
    color: inherit;
    text-decoration: none;
}


:root {
    --swiper-theme-color: #fa2e2d;
}

img {
    height: auto;
    max-width: 100%;
}

.align-between {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title{
  font-size: 48px;
  margin: 0 0 40px;
  font-weight: 400;
  line-height: 1;
  color: #38006B;
}

.title strong{
  display: block;
  font-weight: 700;
}

.bx-item{
  background: #FFFFFF;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 35px 25px;
  height: 365px;
}

.bx-item h3{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  color: #FE007F;
  font-weight: bold;
  margin: 0 0 40px;
}

.bx-item p{
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.bx-content-tab li{
  display: none;
}

.bx-content-tab .active{
  display: block;
}


.bx-swiper {
    position: relative;
}

.swiper-ods{
  overflow: hidden;
}

.swiper-ods{
  margin: 0 !important;
}

.swiper-btn-next:after, .swiper-btn-prev:after {
   font-family: swiper-icons;
  content: 'prev';
  font-size: 35px;
  font-weight: 900;
  color: #FFF;
}

.swiper-btn-next:hover:after, .swiper-btn-prev:hover:after {
  color: #FE007F;
}

.swiper-btn-next:after{
  content: 'next';
}

.swiper-btn-next, 
.swiper-btn-prev {
    position: absolute;
    top: 50%;
  transform: translatey(-50%);
    z-index: 10;
  cursor: pointer;
}


.swiper-btn-prev{
  left: -30px
}

.swiper-btn-next{
  right: -30px
}


/*
*
* HEADER
*
*/



.site-header{
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #FFF;
  padding: 10px 0;
  transition: all .35s;
  box-shadow: 0 5px 10px 0 rgb(50 50 50 / 6%);
}

.site-header.sticky{
  transition: all .35s;
  opacity: 1;
}

.site-header nav{
  text-align: right;
}

.fv-btn,
.site-header nav a{
  display: inline-block;
  font-size: 20px;
  padding: 15px 30px;
  background: #FE007F;
  border-radius: 5px;
  line-height: 1;
  color: #FFF;
  font-weight: 700;
}

.fv-btn:hover{
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.15);
}

/*
*
* FOOTER
*
*/

.site-footer{
  padding: 50px 0 100px;
  text-align: center;
  background: #E6E6E6;
}

.site-footer h2{
  color: #38006B;
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  margin: 0 0 25px;
}

.site-footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer li{
  display: inline-block;
  font-size: 28px;
  margin: 0 15px;
}

.site-footer li a:hover span:before{
  color: #38006B;
}


.site-footer strong{
  margin: 20px 0 40px;
  display: block;
  color: #FE007F;
  font-size: 18px;
}

.site-footer small{
  color: #38006B;
  font-size: 14px;
  line-height: 1;
}

/**
*
* TRABALHO
*
*/

.bx-seu-trabalho{
 padding: 60px 0 120px;
}

.bx-seu-trabalho .bx-item{
  text-align: center;
}

.bx-seu-trabalho .bx-item p{
  color: #38006B;
}


/**
*
* BENEFÃCIOS
*
*/

.bx-beneficios{
  background: #38006B;
  color: #FFF;
  overflow: hidden;
}

.bx-beneficios .bx-item{
  max-width: 450px;
   margin: 0 auto;
}


.bx-beneficios .swiper-pagination-bullet{
  opacity: 1;
  background: #FCCA20;
}

.bx-beneficios .swiper-pagination-bullet-active{
    background: #FFF;
}

.bx-beneficios ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.bx-beneficios .bx-nav-tab{
  border-bottom: 1px solid #FE007F;
}

.bx-beneficios .bx-nav-tab,
.bx-beneficios .bx-content-tab{
/*  margin-right: -15px;
  margin-left: -15px;*/
}

.bx-beneficios .bx-nav-tab li{
  cursor: pointer;
  float: left;
  width: 33.33%;
  border: 1px solid #FE007F;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 13px solid transparent;
  font-size: 18px;
  padding: 20px 10px;
}

.bx-beneficios .bx-nav-tab li:hover{
  border-bottom: 13px solid #FE007F;
}

.bx-beneficios .bx-nav-tab li.active{
  border-bottom: 13px solid #FE007F;
  font-weight: 600;
}

.bx-beneficios .bx-content-tab{
  padding-top: 100px;
  padding-bottom: 100px;
}

.bx-beneficios .bx-content-tab .swiper-container{
  padding-top: 50px;
  padding-bottom: 30px;
}

.bx-beneficios .swiper-slide-active{
    transform: scale(1.1);
    margin-top: -20px;
}

.bx-beneficios .bx-content-tab .swiper-pagination{
  bottom: 0;
}

.bx-beneficios .bx-content-tab li{
  color: #000;
}

.bx-beneficios .bx-content-tab li > p {
  color: #FFF;
  padding: 0 20px;
}

.bx-beneficios .bx-content-tab .swiper-slide {
  width: 40%;
}

.bx-beneficios .bx-nav-tab {
    margin-right: -10px;
    margin-left: -10px;
}

.bx-beneficios ul.bx-content-tab{
  position: relative;
    margin-right: -10px;
    margin-left: -10px;
}


.bx-beneficios ul.bx-content-tab:before,
.bx-beneficios ul.bx-content-tab:after{
  content: '';
    display: block;
    position: absolute;
    top: 0;
     height: 100%;
    width: 100px;
    z-index: 9;
}


.bx-beneficios ul.bx-content-tab:before {
    left: -10px;
    background: linear-gradient(98.64deg, rgba(56, 0, 107, .75) 16.27%, rgba(196, 196, 196, 0) 129.75%);
}

.bx-beneficios ul.bx-content-tab:after {
    right: -10px;
    background: linear-gradient(98.64deg, rgba(56, 0, 107, .75) 16.27%, rgba(196, 196, 196, 0) 129.75%);
    transform: rotate(179.75deg);
}



/**
*
* COMISSAO
*
*/

.bx-comissao{
  background: #FCCA20;
}

.bx-comissao .content-comissao{
  padding: 40px 100px;
}

.bx-comissao .title{
  color: #FE007F;
}

.bx-comissao .calculo-comissao{
  background: #FFF;
  padding: 60px 0;
}

.bx-comissao .calculo-comissao h4{
  text-align: center;
  color: #38006B;
  font-size: 17px;
  font-weight: 400;
  margin: 62px 0 0;
}

.bx-comissao .calculo-comissao ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


.bx-comissao .bx-nav-tab li{
  display: block;
  background: #FE007F;
  color: #FFF;
  padding: 15px 0;
  max-width: 315px;
  width: 100%;
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto 18px;
  cursor: pointer;
}

.bx-comissao .bx-content-tab li{
  color: #38006B;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.bx-comissao small{
  display: block;
  padding: 0 42px;
  margin: 60px 0 0;
  color: #38006B;
  line-height: 1.1;
  font-size: 15px;
}

.bx-comissao .bx-nav-tab li.active{
    background: #38006b;
}

/*
*
* EMPREENDEDORES
*
*/
.bx-nossos-empreendedores{
  padding: 100px 0 20px;
}

.bx-nossos-empreendedores.bx-slide{
   padding: 60px 0 40px;
  background: #38006B;
  margin-bottom: 80px;
}

.bx-nossos-empreendedores .slideDepoimentos {
  padding-bottom: 50px;
}

.bx-nossos-empreendedores .swiper-slide,
.bx-nossos-empreendedores .swiper-slide p{
  font-size: 18px;
  color: #FFF;
  line-height: 1.2;
  font-weight: 300 !important;
  font-style: italic;
}

.bx-nossos-empreendedores .swiper-pagination-bullet{
  opacity: 1;
  background: #FCCA20;
}

.bx-nossos-empreendedores .swiper-pagination-bullet-active{
  background: #FE007F;
}

.bx-nossos-empreendedores .swiper-pagination{
  bottom: 0;
}

.legenda {
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  margin-top: 4%;
}


/*
*
* FAQ
*
*/

.bx-faq{
  padding: 0 0 60px;
}

.bx-faq .title{
  color: #FE007F;
}

.bx-faq .accordion{
  list-style: none;
  padding: 0;
  margin: 0;
}

.bx-faq .accordion li{
  border-bottom: 1px solid #858585;
  padding: 25px 0;
}

.bx-faq .accordion li strong{
  display: block;
  margin-bottom: 10px;
}

.bx-faq .accordion h3{
  color: #38006B;
  font-weight: 500;
  font-size: 24px;
  padding: 0 100px;
  margin: 0;
  cursor: pointer;
}

.bx-faq .accordion span{
  display: inline-block;
  margin-right: 20px;
}

.bx-faq .accordion .active{
  font-weight: 600;
}

.bx-faq .accordion .active span:before{
  content: "\e904";
}

.bx-faq .accordion .inner{
  margin: 25px 0 0;
  padding: 0 100px;
  color: #38006B;
  font-size: 17px;
  line-height: 1.2;
  font-style: italic;
  display: none;
}

/*
*
*/

.bx-hero,
.bx-oquee{
  position: relative;
  background-size: cover;
  background-position: center center;
}


.bx-hero .container{
  position: relative;
  height: 100%;
}

.bx-hero .bx-content,
.bx-oquee .bx-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bx-hero .bx-content h2{
  color: #FCCA20;
  margin: 0 60px 0 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 80px;
}

.bx-hero .bx-content h2 strong{
  font-weight: 900;
}

.bx-oquee .title{
  color: #FCCA20;
  margin: 90px 0 280px;
 font-size: 60px;

  margin-left: 90px;
}

.bx-oquee p{
  color: #FFF;
  font-size: 24px;
  line-height: 1.4;
  max-width: 50%;
  margin-left: 90px;
}

.bx-cta{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.btn-cta{
  background: #FFF !important;
  color: #FE007F !important;
  position: fixed;
  bottom: 30px;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
}

.btn-cta.active{
    background: #FE007F !important;
  color: #FFF !important;
}

.bx-cta .fv-btn{
  padding: 15px 60px;
  background: #FFF;
  color: #FE007F;
  transition: all .25s;
}

.bx-cta .fv-btn:hover{
  color: #FFF;
  background: #FE007F;
  transition: all .25s;
}

.bx-cta.cta-oquee .fv-btn{
  color: #FFF;
  background: #FE007F;
}

.bx-cta h3{
  font-size: 22px;
  color: #FFF;
  font-weight: 300;
  margin: 25px 0 0;
}

.bx-cta.sticky h3{
  display: none;
}

.bx-cta img{
  display: block;
  cursor: pointer;
  margin: 15px auto 0;
}


@media only screen and (min-width: 1920px) {

  .bx-hero .bx-content h2{
    font-size: 90px;
  }

  .bx-hero > img,
  .bx-oquee > img{
    opacity: 0;
  }

   .bx-hero {
    background-position: top center;
  }
}


@media only screen and (max-width: 768px) {

  .btn-cta{
    bottom: 130px;
  }

  .btn-cta.active{
    bottom: 30px;
  }

  .title {
    font-size: 34px;
  }

  .bx-cta .fv-btn {
    padding: 15px 50px;
  }

  .bx-hero, .bx-oquee{
    height: 100vh;
    text-align: center;
  }

   .bx-hero > img, .bx-oquee > img{
    display: none;
   }

  .bx-hero .bx-content h2{
    font-size: 50px;
    margin: 0;
    width: 100%;
    top: 50%;
  }

  .bx-oquee .title{
    margin-bottom: 0;
    font-size: 35px;
    text-align: left;
    margin-left: 45px;
  }

  .bx-oquee p{
    max-width: 100%;
    text-align: left;
    font-size: 18px;
    position: absolute;
    bottom: 80px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .bx-comissao .content-comissao {
    padding: 40px 20px;
  }

  .bx-comissao .bx-nav-tab li{
    max-width: 65%;
  }

  .bx-faq .accordion h3{
    padding: 0 20px;
  }

  .bx-beneficios .bx-nav-tab li{
    font-size: 14px;
    min-height: 100px;
  }

  .bx-beneficios .bx-content-tab {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .bx-seu-trabalho .bx-item{
    margin-bottom: 45px;
    padding: 25px 20px;
  }

  .bx-item h3{
    font-size: 20px;
  }

  .bx-item p{
    font-size: 13px;
  }

  .bx-faq .accordion .inner{
    padding: 0 20px;
  }

  .bx-beneficios .bx-content-tab .swiper-slide {
    width: 85%;
  }

  .bx-nossos-empreendedores{
    padding-top: 50px;
  }

 .bx-nossos-empreendedores .swiper-slide img {
    margin-bottom: 40px;
  }

  .swiper-btn-next {
    right: 0;
}

.swiper-btn-prev {
    left: 0;
}

.bx-beneficios .bx-item {
    max-width: 250px;
  }

.bx-beneficios ul.bx-content-tab:before, .bx-beneficios ul.bx-content-tab:after{
  width: 30px;
}

.bx-beneficios .bx-nav-tab li:nth-child(1),
.bx-beneficios .bx-nav-tab li:nth-child(3) {
    line-height: 20px;
}

.bx-nossos-empreendedores.bx-slide .swiper-btn-next, 
.bx-nossos-empreendedores.bx-slide .swiper-btn-prev{
  top: 30%;
}


}


@media only screen and (max-width: 480px) {
}