.elementor-429 .elementor-element.elementor-element-76bd9ee {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-630c55c
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-429
  .elementor-element.elementor-element-630c55c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-429 .elementor-element.elementor-element-3b4b375 {
  text-align: left;
}
.elementor-429
  .elementor-element.elementor-element-3b4b375
  .elementor-image
  img {
  width: 10%;
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-f4d7309.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-f4d7309.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-f4d7309.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-429 .elementor-element.elementor-element-46ac26d .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  fill: var(--e-global-color-5e63eda);
  color: var(--e-global-color-5e63eda);
  background-color: #61ce7000;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-46ac26d
  .elementor-button:hover,
.elementor-429
  .elementor-element.elementor-element-46ac26d
  .elementor-button:focus {
  color: var(--e-global-color-a5266f9);
  background-color: #02010100;
}
.elementor-429
  .elementor-element.elementor-element-46ac26d
  .elementor-button:hover
  svg,
.elementor-429
  .elementor-element.elementor-element-46ac26d
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-a5266f9);
}
.elementor-429
  .elementor-element.elementor-element-a0f870e
  > .elementor-container {
  min-height: 687px;
}
.elementor-429
  .elementor-element.elementor-element-a0f870e
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-429
  .elementor-element.elementor-element-a0f870e:not(.elementor-motion-effects-element-type-background),
.elementor-429
  .elementor-element.elementor-element-a0f870e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #feee8c;
  background-image: url('../img/3b4187d0-funil-etapa-2-atualizacao-23-12-04.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-429 .elementor-element.elementor-element-a0f870e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-a0f870e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-3dd0d4d1.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-429
  .elementor-element.elementor-element-3dd0d4d1.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-429
  .elementor-element.elementor-element-3dd0d4d1
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429 .elementor-element.elementor-element-0078118 {
  margin-top: -60px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429 .elementor-element.elementor-element-6e5a112d {
  text-align: right;
}
.elementor-429
  .elementor-element.elementor-element-6e5a112d
  .elementor-heading-title {
  color: #ff007f;
  font-family: 'Work Sans', Sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.2em;
}
.elementor-429
  .elementor-element.elementor-element-6e5a112d
  > .elementor-widget-container {
  padding: 60px 0px 40px 0px;
}
.elementor-429
  .elementor-element.elementor-element-1d99d80
  .elementor-text-editor {
  text-align: right;
}
.elementor-429 .elementor-element.elementor-element-1d99d80 {
  color: var(--e-global-color-5e63eda);
  font-family: 'Work Sans', Sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2em;
}
.elementor-429
  .elementor-element.elementor-element-1d99d80
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 60%;
}
.elementor-429 .elementor-element.elementor-element-933beac .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 26px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: var(--e-global-color-5e63eda);
  border-radius: 8px 8px 8px 8px;
  padding: 14px 100px 14px 100px;
}
.elementor-429
  .elementor-element.elementor-element-933beac
  .elementor-button:hover,
.elementor-429
  .elementor-element.elementor-element-933beac
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-933beac
  .elementor-button:hover
  svg,
.elementor-429
  .elementor-element.elementor-element-933beac
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-dfede19
  > .elementor-container {
  min-height: 687px;
}
.elementor-429
  .elementor-element.elementor-element-dfede19
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-429
  .elementor-element.elementor-element-dfede19:not(.elementor-motion-effects-element-type-background),
.elementor-429
  .elementor-element.elementor-element-dfede19
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #feee8c;
}
.elementor-429 .elementor-element.elementor-element-dfede19 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-dfede19
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-e5fb774.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-429
  .elementor-element.elementor-element-e5fb774.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-429
  .elementor-element.elementor-element-e5fb774
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429 .elementor-element.elementor-element-2318dc3 {
  margin-top: -60px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429 .elementor-element.elementor-element-9cdf5d6 {
  text-align: right;
}
.elementor-429
  .elementor-element.elementor-element-9cdf5d6
  .elementor-heading-title {
  color: #ff007f;
  font-family: 'Work Sans', Sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.2em;
}
.elementor-429
  .elementor-element.elementor-element-9cdf5d6
  > .elementor-widget-container {
  padding: 60px 0px 40px 0px;
}
.elementor-429
  .elementor-element.elementor-element-79d99d2
  .elementor-text-editor {
  text-align: right;
}
.elementor-429 .elementor-element.elementor-element-79d99d2 {
  color: var(--e-global-color-5e63eda);
  font-family: 'Work Sans', Sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2em;
}
.elementor-429
  .elementor-element.elementor-element-79d99d2
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 60%;
}
.elementor-429 .elementor-element.elementor-element-4fbfb5f .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 26px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: var(--e-global-color-5e63eda);
  border-radius: 8px 8px 8px 8px;
  padding: 14px 100px 14px 100px;
}
.elementor-429
  .elementor-element.elementor-element-4fbfb5f
  .elementor-button:hover,
.elementor-429
  .elementor-element.elementor-element-4fbfb5f
  .elementor-button:focus {
  color: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-4fbfb5f
  .elementor-button:hover
  svg,
.elementor-429
  .elementor-element.elementor-element-4fbfb5f
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-f1f7763:not(.elementor-motion-effects-element-type-background),
.elementor-429
  .elementor-element.elementor-element-f1f7763
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5e63eda);
}
.elementor-429 .elementor-element.elementor-element-f1f7763 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px 0px 28px 0px;
}
.elementor-429
  .elementor-element.elementor-element-f1f7763
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-429 .elementor-element.elementor-element-0c24402 {
  text-align: center;
}
.elementor-429
  .elementor-element.elementor-element-0c24402
  .elementor-heading-title {
  color: var(--e-global-color-a5266f9);
  font-family: 'Work Sans', Sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
}
.elementor-429
  .elementor-element.elementor-element-307505a
  .elementor-text-editor {
  text-align: center;
}
.elementor-429 .elementor-element.elementor-element-307505a {
  color: var(--e-global-color-0113bf9);
}
.elementor-429
  .elementor-element.elementor-element-307505a
  > .elementor-widget-container {
  margin: -16px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-7205554:not(.elementor-motion-effects-element-type-background),
.elementor-429
  .elementor-element.elementor-element-7205554
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5e63eda);
}
.elementor-429 .elementor-element.elementor-element-7205554 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-7205554
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-872ad62.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-872ad62.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-872ad62.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-429 .elementor-element.elementor-element-224ce7a .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  fill: var(--e-global-color-6fd9438);
  color: var(--e-global-color-6fd9438);
  background-color: #61ce7000;
}
.elementor-429
  .elementor-element.elementor-element-224ce7a
  .elementor-button:hover,
.elementor-429
  .elementor-element.elementor-element-224ce7a
  .elementor-button:focus {
  color: var(--e-global-color-0113bf9);
}
.elementor-429
  .elementor-element.elementor-element-224ce7a
  .elementor-button:hover
  svg,
.elementor-429
  .elementor-element.elementor-element-224ce7a
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-0113bf9);
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-7858fbb.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-7858fbb.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-7858fbb.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-429
  .elementor-element.elementor-element-0dfe28a
  .elementor-text-editor {
  text-align: center;
}
.elementor-429 .elementor-element.elementor-element-0dfe28a {
  color: var(--e-global-color-6fd9438);
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}
.elementor-429
  .elementor-element.elementor-element-0dfe28a
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 8%;
}
.elementor-429 .elementor-element.elementor-element-77df3e8 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-widget-container {
  text-align: center;
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-social-icon {
  background-color: #ffffff00;
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-social-icon
  i {
  color: var(--e-global-color-6fd9438);
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-6fd9438);
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-77df3e8
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-ea51761:not(.elementor-motion-effects-element-type-background),
.elementor-429
  .elementor-element.elementor-element-ea51761
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5e63eda);
}
.elementor-429 .elementor-element.elementor-element-ea51761 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-429
  .elementor-element.elementor-element-ea51761
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-e3a234f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-e3a234f.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-e3a234f.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-429 .elementor-element.elementor-element-b813b76 .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  fill: var(--e-global-color-6fd9438);
  color: var(--e-global-color-6fd9438);
  background-color: #61ce7000;
}
.elementor-429
  .elementor-element.elementor-element-b813b76
  .elementor-button:hover,
.elementor-429
  .elementor-element.elementor-element-b813b76
  .elementor-button:focus {
  color: var(--e-global-color-0113bf9);
}
.elementor-429
  .elementor-element.elementor-element-b813b76
  .elementor-button:hover
  svg,
.elementor-429
  .elementor-element.elementor-element-b813b76
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-0113bf9);
}
.elementor-bc-flex-widget
  .elementor-429
  .elementor-element.elementor-element-b95c3fc.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-b95c3fc.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-429
  .elementor-element.elementor-element-b95c3fc.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-429
  .elementor-element.elementor-element-6a86a4d
  .elementor-text-editor {
  text-align: center;
}
.elementor-429 .elementor-element.elementor-element-6a86a4d {
  color: var(--e-global-color-6fd9438);
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}
.elementor-429
  .elementor-element.elementor-element-6a86a4d
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 8%;
}
.elementor-429 .elementor-element.elementor-element-891baa2 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-widget-container {
  text-align: center;
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-social-icon {
  background-color: #ffffff00;
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-social-icon
  i {
  color: var(--e-global-color-6fd9438);
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-6fd9438);
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-429
  .elementor-element.elementor-element-891baa2
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .elementor-429 .elementor-element.elementor-element-7858fbb {
    width: 50%;
  }
  .elementor-429 .elementor-element.elementor-element-3ff19c9 {
    width: 16.332%;
  }
  .elementor-429 .elementor-element.elementor-element-b95c3fc {
    width: 50%;
  }
  .elementor-429 .elementor-element.elementor-element-f190a24 {
    width: 16.332%;
  }
}
@media (max-width: 1024px) {
  .elementor-429 .elementor-element.elementor-element-76bd9ee {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 30px 0px 30px;
  }
  .elementor-bc-flex-widget
    .elementor-429
    .elementor-element.elementor-element-630c55c.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-429
    .elementor-element.elementor-element-630c55c.elementor-column.elementor-element[data-element_type='column']
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-429
    .elementor-element.elementor-element-3b4b375
    .elementor-image
    img {
    width: 16%;
  }
  .elementor-bc-flex-widget
    .elementor-429
    .elementor-element.elementor-element-f4d7309.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-429
    .elementor-element.elementor-element-f4d7309.elementor-column.elementor-element[data-element_type='column']
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-429
    .elementor-element.elementor-element-f4d7309.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-429
    .elementor-element.elementor-element-f4d7309
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-a0f870e
    > .elementor-container {
    min-height: 400px;
  }
  .elementor-429
    .elementor-element.elementor-element-a0f870e:not(.elementor-motion-effects-element-type-background),
  .elementor-429
    .elementor-element.elementor-element-a0f870e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url('../img/3b4187d0-funil-etapa-2-atualizacao-23-12-04.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .elementor-429 .elementor-element.elementor-element-a0f870e {
    padding: 80px 20px 40px 20px;
  }
  .elementor-429
    .elementor-element.elementor-element-6e5a112d
    .elementor-heading-title {
    font-size: 48px;
  }
  .elementor-429
    .elementor-element.elementor-element-6e5a112d
    > .elementor-widget-container {
    padding: 40px 0px 40px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-1d99d80
    .elementor-text-editor {
    text-align: right;
  }
  .elementor-429 .elementor-element.elementor-element-1d99d80 {
    font-size: 15px;
  }
  .elementor-429
    .elementor-element.elementor-element-1d99d80
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 60%;
  }
  .elementor-429
    .elementor-element.elementor-element-dfede19
    > .elementor-container {
    min-height: 400px;
  }
  .elementor-429 .elementor-element.elementor-element-dfede19 {
    padding: 80px 20px 40px 20px;
  }
  .elementor-429
    .elementor-element.elementor-element-9cdf5d6
    .elementor-heading-title {
    font-size: 48px;
  }
  .elementor-429
    .elementor-element.elementor-element-9cdf5d6
    > .elementor-widget-container {
    padding: 40px 0px 40px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-79d99d2
    .elementor-text-editor {
    text-align: right;
  }
  .elementor-429 .elementor-element.elementor-element-79d99d2 {
    font-size: 15px;
  }
  .elementor-429
    .elementor-element.elementor-element-79d99d2
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 60%;
  }
  .elementor-429 .elementor-element.elementor-element-872ad62.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-429 .elementor-element.elementor-element-7858fbb.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-429
    .elementor-element.elementor-element-7858fbb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-0dfe28a
    > .elementor-widget-container {
    padding: 0px 0px 8px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-3ff19c9.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-429
    .elementor-element.elementor-element-77df3e8
    .elementor-social-icon {
    --icon-padding: 0.4em;
  }
  .elementor-429
    .elementor-element.elementor-element-77df3e8
    > .elementor-widget-container {
    margin: 8px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-b95c3fc
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-891baa2
    .elementor-social-icon {
    --icon-padding: 0.4em;
  }
}
@media (max-width: 767px) {
  .elementor-429 .elementor-element.elementor-element-76bd9ee {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 20px 4px 20px;
  }
  .elementor-429 .elementor-element.elementor-element-630c55c {
    width: 50%;
  }
  .elementor-429
    .elementor-element.elementor-element-630c55c
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-3b4b375
    .elementor-image
    img {
    width: 30%;
  }
  .elementor-429
    .elementor-element.elementor-element-3b4b375
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-f4d7309 {
    width: 50%;
  }
  .elementor-429
    .elementor-element.elementor-element-46ac26d
    .elementor-button {
    font-size: 14px;
  }
  .elementor-429
    .elementor-element.elementor-element-a0f870e
    > .elementor-container {
    min-height: 200px;
  }
  .elementor-429 .elementor-element.elementor-element-a0f870e {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-429 .elementor-element.elementor-element-0078118 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-f9c9abd.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-429 .elementor-element.elementor-element-e2a896a.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-429
    .elementor-element.elementor-element-7df997a
    .elementor-image
    img {
    width: 200px;
  }
  .elementor-429 .elementor-element.elementor-element-13e1c09.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-429 .elementor-element.elementor-element-6e5a112d {
    text-align: left;
  }
  .elementor-429
    .elementor-element.elementor-element-6e5a112d
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-429
    .elementor-element.elementor-element-6e5a112d
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-1d99d80
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-429 .elementor-element.elementor-element-1d99d80 {
    font-size: 16px;
    z-index: 99;
  }
  .elementor-429
    .elementor-element.elementor-element-1d99d80
    > .elementor-widget-container {
    margin: 0px 0px -24px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-933beac
    > .elementor-widget-container {
    margin: -24px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-dfede19
    > .elementor-container {
    min-height: 200px;
  }
  .elementor-429 .elementor-element.elementor-element-dfede19 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-429 .elementor-element.elementor-element-2318dc3 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-6f9a475.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-429 .elementor-element.elementor-element-a81523c.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-429
    .elementor-element.elementor-element-59e02f3
    .elementor-image
    img {
    width: 200px;
  }
  .elementor-429 .elementor-element.elementor-element-7432410.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-429 .elementor-element.elementor-element-9cdf5d6 {
    text-align: left;
  }
  .elementor-429
    .elementor-element.elementor-element-9cdf5d6
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-429
    .elementor-element.elementor-element-9cdf5d6
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-79d99d2
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-429 .elementor-element.elementor-element-79d99d2 {
    font-size: 16px;
    z-index: 99;
  }
  .elementor-429
    .elementor-element.elementor-element-79d99d2
    > .elementor-widget-container {
    margin: 0px 0px -24px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-57a716b
    > .elementor-widget-container {
    margin: -31px 0px -50px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429
    .elementor-element.elementor-element-4fbfb5f
    > .elementor-widget-container {
    margin: -24px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-f1f7763 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-429 .elementor-element.elementor-element-0c24402 {
    text-align: center;
  }
  .elementor-429
    .elementor-element.elementor-element-0c24402
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-429 .elementor-element.elementor-element-872ad62.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-429 .elementor-element.elementor-element-7858fbb {
    width: 100%;
  }
  .elementor-429
    .elementor-element.elementor-element-7858fbb
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-429 .elementor-element.elementor-element-7858fbb.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-429 .elementor-element.elementor-element-0dfe28a {
    font-size: 12px;
  }
  .elementor-429
    .elementor-element.elementor-element-0dfe28a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 08px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-3ff19c9.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-429
    .elementor-element.elementor-element-77df3e8
    > .elementor-widget-container {
    padding: 8px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-ea51761 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-e3a234f.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-429
    .elementor-element.elementor-element-b813b76
    .elementor-button {
    font-size: 11px;
  }
  .elementor-429 .elementor-element.elementor-element-b95c3fc {
    width: 100%;
  }
  .elementor-429
    .elementor-element.elementor-element-b95c3fc
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-429 .elementor-element.elementor-element-b95c3fc.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-429 .elementor-element.elementor-element-6a86a4d {
    font-size: 11px;
  }
  .elementor-429
    .elementor-element.elementor-element-6a86a4d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 4px 0px;
  }
  .elementor-429 .elementor-element.elementor-element-f190a24.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-429
    .elementor-element.elementor-element-891baa2
    > .elementor-widget-container {
    padding: 8px 0px 0px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-429 .elementor-element.elementor-element-872ad62 {
    width: 100%;
  }
  .elementor-429 .elementor-element.elementor-element-7858fbb {
    width: 100%;
  }
  .elementor-429 .elementor-element.elementor-element-3ff19c9 {
    width: 100%;
  }
  .elementor-429 .elementor-element.elementor-element-e3a234f {
    width: 100%;
  }
  .elementor-429 .elementor-element.elementor-element-b95c3fc {
    width: 100%;
  }
  .elementor-429 .elementor-element.elementor-element-f190a24 {
    width: 100%;
  }
} /* Start custom CSS for text-editor, class: .elementor-element-307505a */
.elementor-429 .elementor-element.elementor-element-307505a a {
  color: #ffffff;
} /* End custom CSS */
