.elementor-465 .elementor-element.elementor-element-e74bf90 {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px 0px 0px 0px;
}
.elementor-465
  .elementor-element.elementor-element-d761cc5
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-465
  .elementor-element.elementor-element-d761cc5
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-465 .elementor-element.elementor-element-2a1f663 {
  text-align: left;
}
.elementor-465
  .elementor-element.elementor-element-2a1f663
  .elementor-image
  img {
  width: 10%;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-a2912cb.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-a2912cb.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-a2912cb.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-465 .elementor-element.elementor-element-2172215 .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 16px;
  font-weight: 500;
  fill: var(--e-global-color-5e63eda);
  color: var(--e-global-color-5e63eda);
  background-color: #61ce7000;
  padding: 0px 0px 0px 0px;
}
.elementor-465
  .elementor-element.elementor-element-2172215
  .elementor-button:hover,
.elementor-465
  .elementor-element.elementor-element-2172215
  .elementor-button:focus {
  color: var(--e-global-color-a5266f9);
  background-color: #02010100;
}
.elementor-465
  .elementor-element.elementor-element-2172215
  .elementor-button:hover
  svg,
.elementor-465
  .elementor-element.elementor-element-2172215
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-a5266f9);
}
.elementor-465
  .elementor-element.elementor-element-7edae7a
  > .elementor-container {
  min-height: 787px;
}
.elementor-465
  .elementor-element.elementor-element-7edae7a:not(.elementor-motion-effects-element-type-background),
.elementor-465
  .elementor-element.elementor-element-7edae7a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-749579e);
  background-image: url('../img/3cf3fc7d-edit-img-4657_10yb0mp0ws0lv00f00f000.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 1100px auto;
}
.elementor-465 .elementor-element.elementor-element-7edae7a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 80px;
}
.elementor-465
  .elementor-element.elementor-element-7edae7a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-0a48d59.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-465
  .elementor-element.elementor-element-0a48d59.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-465
  .elementor-element.elementor-element-0a48d59.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-465
  .elementor-element.elementor-element-0a48d59
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-465 .elementor-element.elementor-element-3a3ea3c {
  text-align: left;
}
.elementor-465
  .elementor-element.elementor-element-3a3ea3c
  .elementor-heading-title {
  color: #ffffff;
  font-family: 'Work Sans', Sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
}
.elementor-465
  .elementor-element.elementor-element-3a3ea3c
  > .elementor-widget-container {
  padding: 60px 0px 40px 0px;
}
.elementor-465 .elementor-element.elementor-element-220d217 {
  text-align: left;
}
.elementor-465
  .elementor-element.elementor-element-220d217
  .elementor-heading-title {
  color: #ffffff;
  font-family: 'Work Sans', Sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
}
.elementor-465
  .elementor-element.elementor-element-220d217
  > .elementor-widget-container {
  padding: 60px 0px 40px 0px;
}
.elementor-465
  .elementor-element.elementor-element-855e40c
  .elementor-text-editor {
  text-align: left;
}
.elementor-465 .elementor-element.elementor-element-855e40c {
  color: #ffffff;
  font-family: 'Work Sans', Sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1em;
}
.elementor-465
  .elementor-element.elementor-element-855e40c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0% 70% 0% 0%;
}
.elementor-465 .elementor-element.elementor-element-23353c0 {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px 80px 0px 80px;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-0884488.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-0884488.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-0884488.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-465 .elementor-element.elementor-element-ff7ab48 {
  text-align: left;
}
.elementor-465
  .elementor-element.elementor-element-ff7ab48
  .elementor-heading-title {
  color: #fe007f;
  font-family: 'Work Sans', Sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1em;
}
.elementor-465
  .elementor-element.elementor-element-ff7ab48
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-465
  .elementor-element.elementor-element-b4d8711
  .elementor-text-editor {
  text-align: left;
}
.elementor-465 .elementor-element.elementor-element-b4d8711 {
  color: var(--e-global-color-5e63eda);
  font-family: 'Work Sans', Sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1em;
}
.elementor-465
  .elementor-element.elementor-element-b4d8711
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0% 0% 0% 0%;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-fd81338.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-fd81338.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-3c6d60f:not(.elementor-motion-effects-element-type-background),
.elementor-465
  .elementor-element.elementor-element-3c6d60f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5e63eda);
}
.elementor-465 .elementor-element.elementor-element-3c6d60f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-465
  .elementor-element.elementor-element-3c6d60f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-99fe420.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-99fe420.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-99fe420.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-465 .elementor-element.elementor-element-abab8a1 .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  fill: var(--e-global-color-6fd9438);
  color: var(--e-global-color-6fd9438);
  background-color: #61ce7000;
}
.elementor-465
  .elementor-element.elementor-element-abab8a1
  .elementor-button:hover,
.elementor-465
  .elementor-element.elementor-element-abab8a1
  .elementor-button:focus {
  color: var(--e-global-color-0113bf9);
}
.elementor-465
  .elementor-element.elementor-element-abab8a1
  .elementor-button:hover
  svg,
.elementor-465
  .elementor-element.elementor-element-abab8a1
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-0113bf9);
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-c2e4b5e.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-c2e4b5e.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-c2e4b5e.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-465
  .elementor-element.elementor-element-b96d19a
  .elementor-text-editor {
  text-align: center;
}
.elementor-465 .elementor-element.elementor-element-b96d19a {
  color: var(--e-global-color-6fd9438);
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}
.elementor-465
  .elementor-element.elementor-element-b96d19a
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 8%;
}
.elementor-465 .elementor-element.elementor-element-cfc1865 {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-widget-container {
  text-align: center;
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-social-icon {
  background-color: #ffffff00;
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-social-icon
  i {
  color: var(--e-global-color-6fd9438);
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-6fd9438);
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-465
  .elementor-element.elementor-element-cfc1865
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-465
  .elementor-element.elementor-element-6bd077b:not(.elementor-motion-effects-element-type-background),
.elementor-465
  .elementor-element.elementor-element-6bd077b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5e63eda);
}
.elementor-465 .elementor-element.elementor-element-6bd077b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-465
  .elementor-element.elementor-element-6bd077b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-ee7149e.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-ee7149e.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-ee7149e.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-465 .elementor-element.elementor-element-0e7be76 .elementor-button {
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  fill: var(--e-global-color-6fd9438);
  color: var(--e-global-color-6fd9438);
  background-color: #61ce7000;
}
.elementor-465
  .elementor-element.elementor-element-0e7be76
  .elementor-button:hover,
.elementor-465
  .elementor-element.elementor-element-0e7be76
  .elementor-button:focus {
  color: var(--e-global-color-0113bf9);
}
.elementor-465
  .elementor-element.elementor-element-0e7be76
  .elementor-button:hover
  svg,
.elementor-465
  .elementor-element.elementor-element-0e7be76
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-0113bf9);
}
.elementor-bc-flex-widget
  .elementor-465
  .elementor-element.elementor-element-edf4f61.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-edf4f61.elementor-column.elementor-element[data-element_type='column']
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-465
  .elementor-element.elementor-element-edf4f61.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-465
  .elementor-element.elementor-element-013fc7c
  .elementor-text-editor {
  text-align: center;
}
.elementor-465 .elementor-element.elementor-element-013fc7c {
  color: var(--e-global-color-6fd9438);
  font-family: 'Work Sans', Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
}
.elementor-465
  .elementor-element.elementor-element-013fc7c
  > .elementor-widget-container {
  margin: 12px 0px 0px 0px;
  padding: 0% 0% 0% 8%;
}
.elementor-465 .elementor-element.elementor-element-9a20c0a {
  --grid-template-columns: repeat(0, auto);
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-widget-container {
  text-align: center;
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-social-icon {
  background-color: #ffffff00;
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-social-icon
  i {
  color: var(--e-global-color-6fd9438);
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-6fd9438);
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-social-icon:hover
  i {
  color: #ffffff;
}
.elementor-465
  .elementor-element.elementor-element-9a20c0a
  .elementor-social-icon:hover
  svg {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .elementor-465 .elementor-element.elementor-element-c2e4b5e {
    width: 50%;
  }
  .elementor-465 .elementor-element.elementor-element-5ac12e4 {
    width: 16.332%;
  }
  .elementor-465 .elementor-element.elementor-element-edf4f61 {
    width: 50%;
  }
  .elementor-465 .elementor-element.elementor-element-ce86de4 {
    width: 16.332%;
  }
}
@media (max-width: 1024px) {
  .elementor-465 .elementor-element.elementor-element-e74bf90 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 30px 0px 30px;
  }
  .elementor-bc-flex-widget
    .elementor-465
    .elementor-element.elementor-element-d761cc5.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-465
    .elementor-element.elementor-element-d761cc5.elementor-column.elementor-element[data-element_type='column']
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-bc-flex-widget
    .elementor-465
    .elementor-element.elementor-element-a2912cb.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-465
    .elementor-element.elementor-element-a2912cb.elementor-column.elementor-element[data-element_type='column']
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-465
    .elementor-element.elementor-element-a2912cb.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-465
    .elementor-element.elementor-element-a2912cb
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-7edae7a
    > .elementor-container {
    min-height: 500px;
  }
  .elementor-465
    .elementor-element.elementor-element-7edae7a:not(.elementor-motion-effects-element-type-background),
  .elementor-465
    .elementor-element.elementor-element-7edae7a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 600px auto;
  }
  .elementor-465 .elementor-element.elementor-element-7edae7a {
    padding: 0px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-3a3ea3c
    .elementor-heading-title {
    font-size: 48px;
  }
  .elementor-465
    .elementor-element.elementor-element-3a3ea3c
    > .elementor-widget-container {
    padding: 40px 20px 40px 20px;
  }
  .elementor-465
    .elementor-element.elementor-element-220d217
    .elementor-heading-title {
    font-size: 48px;
  }
  .elementor-465
    .elementor-element.elementor-element-220d217
    > .elementor-widget-container {
    padding: 40px 20px 40px 20px;
  }
  .elementor-465
    .elementor-element.elementor-element-855e40c
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-465 .elementor-element.elementor-element-855e40c {
    font-size: 15px;
  }
  .elementor-465
    .elementor-element.elementor-element-855e40c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
  }
  .elementor-465 .elementor-element.elementor-element-23353c0 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 30px 40px 30px;
  }
  .elementor-465
    .elementor-element.elementor-element-ff7ab48
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-465
    .elementor-element.elementor-element-ff7ab48
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-b4d8711
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-465 .elementor-element.elementor-element-b4d8711 {
    font-size: 15px;
  }
  .elementor-465
    .elementor-element.elementor-element-b4d8711
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-99fe420.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-465 .elementor-element.elementor-element-c2e4b5e.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-465
    .elementor-element.elementor-element-c2e4b5e
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-b96d19a
    > .elementor-widget-container {
    padding: 0px 0px 8px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-5ac12e4.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-465
    .elementor-element.elementor-element-cfc1865
    .elementor-social-icon {
    --icon-padding: 0.4em;
  }
  .elementor-465
    .elementor-element.elementor-element-cfc1865
    > .elementor-widget-container {
    margin: 8px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-edf4f61
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-9a20c0a
    .elementor-social-icon {
    --icon-padding: 0.4em;
  }
}
@media (max-width: 767px) {
  .elementor-465 .elementor-element.elementor-element-e74bf90 {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 20px 4px 20px;
  }
  .elementor-465 .elementor-element.elementor-element-d761cc5 {
    width: 50%;
  }
  .elementor-465
    .elementor-element.elementor-element-d761cc5
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-2a1f663
    .elementor-image
    img {
    width: 30%;
  }
  .elementor-465
    .elementor-element.elementor-element-2a1f663
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-a2912cb {
    width: 50%;
  }
  .elementor-465
    .elementor-element.elementor-element-7edae7a
    > .elementor-container {
    min-height: 515px;
  }
  .elementor-465
    .elementor-element.elementor-element-7edae7a:not(.elementor-motion-effects-element-type-background),
  .elementor-465
    .elementor-element.elementor-element-7edae7a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: bottom center;
    background-size: 500px auto;
  }
  .elementor-465 .elementor-element.elementor-element-7edae7a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 40px 0px 40px;
  }
  .elementor-465 .elementor-element.elementor-element-3a3ea3c {
    text-align: left;
  }
  .elementor-465
    .elementor-element.elementor-element-3a3ea3c
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-465
    .elementor-element.elementor-element-3a3ea3c
    > .elementor-widget-container {
    padding: 40px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-220d217 {
    text-align: left;
  }
  .elementor-465
    .elementor-element.elementor-element-220d217
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-465
    .elementor-element.elementor-element-220d217
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-855e40c
    .elementor-text-editor {
    text-align: right;
  }
  .elementor-465 .elementor-element.elementor-element-855e40c {
    font-size: 16px;
    z-index: 99;
  }
  .elementor-465
    .elementor-element.elementor-element-855e40c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 15%;
  }
  .elementor-465 .elementor-element.elementor-element-23353c0 {
    padding: 40px 20px 40px 20px;
  }
  .elementor-465 .elementor-element.elementor-element-ff7ab48 {
    text-align: left;
  }
  .elementor-465
    .elementor-element.elementor-element-ff7ab48
    .elementor-heading-title {
    font-size: 28px;
  }
  .elementor-465
    .elementor-element.elementor-element-ff7ab48
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465
    .elementor-element.elementor-element-b4d8711
    .elementor-text-editor {
    text-align: left;
  }
  .elementor-465 .elementor-element.elementor-element-b4d8711 {
    font-size: 16px;
    z-index: 99;
  }
  .elementor-465
    .elementor-element.elementor-element-b4d8711
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
  }
  .elementor-465 .elementor-element.elementor-element-99fe420.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-465 .elementor-element.elementor-element-c2e4b5e {
    width: 100%;
  }
  .elementor-465
    .elementor-element.elementor-element-c2e4b5e
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-465 .elementor-element.elementor-element-c2e4b5e.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-465 .elementor-element.elementor-element-b96d19a {
    font-size: 12px;
  }
  .elementor-465
    .elementor-element.elementor-element-b96d19a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 08px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-5ac12e4.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-465
    .elementor-element.elementor-element-cfc1865
    > .elementor-widget-container {
    padding: 8px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-6bd077b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-ee7149e.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-465
    .elementor-element.elementor-element-0e7be76
    .elementor-button {
    font-size: 11px;
  }
  .elementor-465 .elementor-element.elementor-element-edf4f61 {
    width: 100%;
  }
  .elementor-465
    .elementor-element.elementor-element-edf4f61
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-465 .elementor-element.elementor-element-edf4f61.elementor-column {
    -webkit-box-ordinal-group: calc(3 + 1);
    -ms-flex-order: 3;
    order: 3;
  }
  .elementor-465 .elementor-element.elementor-element-013fc7c {
    font-size: 11px;
  }
  .elementor-465
    .elementor-element.elementor-element-013fc7c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 4px 0px;
  }
  .elementor-465 .elementor-element.elementor-element-ce86de4.elementor-column {
    -webkit-box-ordinal-group: calc(1 + 1);
    -ms-flex-order: 1;
    order: 1;
  }
  .elementor-465
    .elementor-element.elementor-element-9a20c0a
    > .elementor-widget-container {
    padding: 8px 0px 0px 0px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-465 .elementor-element.elementor-element-99fe420 {
    width: 100%;
  }
  .elementor-465 .elementor-element.elementor-element-c2e4b5e {
    width: 100%;
  }
  .elementor-465 .elementor-element.elementor-element-5ac12e4 {
    width: 100%;
  }
  .elementor-465 .elementor-element.elementor-element-ee7149e {
    width: 100%;
  }
  .elementor-465 .elementor-element.elementor-element-edf4f61 {
    width: 100%;
  }
  .elementor-465 .elementor-element.elementor-element-ce86de4 {
    width: 100%;
  }
}
